@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --tipo-display-padrao: flex;
    --display-prop-principal: center;
    --fontePrincipal: "Raleway", sans-serif;
    --cor-primaria: #33A8DB;
    --cor-neutra: #FFF;
    --bg-preto: #000;
    --bg-cinza: #252525;
    --estilo-por: "ryotruuser";
    --gradiente-primario: linear-gradient(182deg,rgba(51, 168, 219, 1) 0%, rgba(20, 114, 183, 1) 100%);
    --gradiente-secundario: linear-gradient(182deg,rgba(51, 168, 219, 1) 0%, rgba(21, 114, 183, 1) 100%);
    --gradiente-terciario: linear-gradient(183deg,rgba(0, 0, 0, 1) 0%, rgba(49, 168, 221, 1) 100%);
    --gradiente-quaternario: linear-gradient(180deg,rgba(0, 0, 0, 0.7) 0%, rgba(51, 168, 219, 0.2) 100%);
}
body{
    font-family: var(--fontePrincipal);
    background-color: var(--bg-preto);
    color: var(--cor-neutra);
}

.banner{
    display: var(--tipo-display-padrao);
    border-bottom: 2px solid var(--cor-primaria);
    justify-content: var(--display-prop-principal);
    align-items: var(--display-prop-principal);
    padding: 56px 465px 156px 465px;
    background: url('../assets/images/banner.png'),linear-gradient(183deg,rgba(0, 0, 0, 1) 0%, rgba(9, 27, 35, 1) 27%, rgba(9, 27, 35, 1) 69%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    .banner-content{
        display: var(--tipo-display-padrao);
        justify-content: var(--display-prop-principal);
        align-items: var(--display-prop-principal);
        flex-direction: column;
        gap: 20px;
        .logo{
            border-radius: 340px;
            padding: 30px;
            background: rgba(0, 0, 0, 0.15);
        }
        .banner-content-title{
            font-size: 40px;
            font-weight: 900;
            background: #33A8DB;
            background: var(--gradiente-primario);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .banner-content-text{
            font-size: 20px;
            font-weight: 400;
            color: var(--cor-neutra);
            line-height: 24px;
        }
        .banner-content-btn{
            font-size: 16px;
            font-weight: 900;
            color: var(--cor-primaria);
            text-transform: uppercase;
            letter-spacing: 21%;
            padding: 19px 91px;
            background: transparent;
            border: 3px solid transparent;
            border-image: var(--gradiente-secundario) 1;
            cursor: pointer;
            &:hover{
                transition: .4s ease-in-out;
                background-color: rgba(51, 168, 219, .15);
            }
        }
    }
}

#course-content{
    border-bottom: 2px solid var(--cor-primaria);
    padding: 64px 318px 144px 318px;
    display: var(--tipo-display-padrao);
    flex-direction: column;
    justify-content: var(--display-prop-principal);
    align-items: var(--display-prop-principal);
    .frame-content{
        width: 792px;
        display: var(--tipo-display-padrao);
        flex-direction: column;
        justify-content: var(--display-prop-principal);
        align-items: var(--display-prop-principal);
        gap: 24px;
        .course-content-title{
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 19%;
        text-transform: uppercase;
        color: var(--cor-primaria);
        }
        .course-content-text{
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
        .modules-list{
            display: var(--tipo-display-padrao);
            flex-direction: column;
            justify-content: var(--display-prop-principal);
            align-items: var(--display-prop-principal);
            gap: 24px;
            .module{
                display: var(--tipo-display-padrao);
                justify-content: var(--display-prop-principal);
                align-items: var(--display-prop-principal);
                gap: 5px;
                width: 535px;
                height: 51px;
                background-color: var(--bg-cinza);
                color: var(--cor-neutra);
                font-size: 16px;
                border-radius: 57px;
                border: 1px solid var(--cor-primaria);
                cursor: pointer;
                transition: .6s;
                &:hover{
                    background-color: rgba(51, 168, 219, 0.3);
                }
                .module-span{
                    color: var(--cor-primaria);
                }
            }

        }
    }
    
}

#transform-world{
    height: 363px;
    border-bottom: 2px solid var(--cor-primaria);
    display: var(--tipo-display-padrao);
    align-items: center;
    background-image: url(../assets/images/woman-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .transform-world-text{
        font-size: 40px;
        font-weight: 900;
        text-transform: lowercase;
        text-shadow: 3px 2px var(--cor-primaria);
        margin-left: 10%;
    }
}

#professional-challenges{
    display: var(--tipo-display-padrao);
    align-items: var(--display-prop-principal);
    justify-content: var(--display-prop-principal);
    flex-direction: column;
    border-bottom: 2px solid var(--cor-primaria);
    padding: 76px 347px;
    .professional-challenges-title{
        color: var(--cor-primaria);
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 19%;
        text-transform: uppercase;
        text-align: center;
    }
    .professional-challenges-text{
        color: var(--cor-neutra);
        font-size: 16px;
        text-align: center;
        width: 792px;
        line-height: 22px;
    }
}

footer {
    padding: 60px 0;
    display: var(--tipo-display-padrao);
    justify-content: var(--display-prop-principal);
    align-items: var(--display-prop-principal);
    flex-direction: column;
    background-image: var(--gradiente-quaternario);
    .footer-text{
        font-size: 16px;
        font-weight: 400;
        .footer-text-highlight{
            text-decoration: none;
            color: var(--cor-primaria);
            font-weight: 700;
            cursor: pointer;
            &:hover{
                color: #4ec2f3;
            }
        }
    }
}